.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.btn-square  {
    width: 150px;
    height: 150px;
}

.sign {
    font-size: 80px;
    margin-bottom: 10px;
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
}

.score-box {
    width: 170px;
}

.score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main {
    text-align: center;
}

.title {
    font-variant: small-caps;
    font-size: 40px;
}

.header {
    display: flex;
    justify-content: center;
    font-family: 'Molisa Delawere', sans-serif;
}

body {
    background-color: #708090;
    line-height: 1.6;
}

html {
    min-height: 100%;
}